@font-face {
    font-family: NRT_Bolt;
    src: url(../font/NRT-Bd.ttf);
}

@font-face {
    font-family: NRT_Reg;
    src: url(../font/NRT-Reg.ttf);
}


:root {
    --green: #119C59;
    --lite_gray: #e8e8e8;
    --gray: #A0A4A8;
    --dark_gray: #a0a4ab;
    --black: #25282b;
    --background: #faf9f7;
    --warningcolor:#ffe383;
}



* {
    font-family: NRT_Bolt;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

header {
    background-color: var(--green);
    width: 100%;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
    top: 0;
    left: 0;
}


.nav a {
    text-decoration: none;
    color: var(--background);
    font-weight: 700;
    font-size: 2.5rem;
    padding-left: 9rem;
    transition: 0.5s ease-in-out;
}

.nav a:hover {
    color: rgb(121, 121, 121);
}



html {

    font-size: 62.5;
    overflow-x: hidden;
}

html::-webkit-scrollbar {

    width: 1.4rem;
}

html::-webkit-scrollbar-track {

    background-color: #222;

}


html::-webkit-scrollbar-thumb {

    background-color: var(--yellow);

}

::-webkit-scrollbar {
    width: 1rem;
}


/* Track */

::-webkit-scrollbar-track {
    background-color: #222;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background-color: var(--yellow);
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}



body {

    background: var(--green);
    overflow-x: hidden;
}


.card {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 7%;
    background-color: var(--background) !important;
    background-size: cover;
}



.msg_card_body {
    overflow-y: auto;
}


.card-footer {
    padding: 2rem ;
    background-color: var(--green);
    border-top: 0 !important;
}



.type_msg {
    text-align: right;
    font-size: 2.5rem;
    background-color: white !important;
    border: 0 !important;
    color: var(--black) !important;
    height: 8rem !important;
    overflow-y: auto;
}

.type_msg:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.attach_btn {
    border-radius: 15px 0 0 15px !important;


    font-size: 3.5rem;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.send_btn {
    font-size: 3.5rem;

    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}







.msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #333;
    font-size: 1.5rem;
    color: #fff;
    padding: 10px;
    position: relative;
}

.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.5rem;

    margin-right: 10px;
    border-radius: 25px;
    background-color: var(--yellow);
    padding: 10px;
    position: relative;
}




.msg_head {
    position: relative;
}

#action_menu_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.action_menu {
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;
}

.action_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.action_menu ul li {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
}

.action_menu ul li i {
    padding-right: 10px;
}

.action_menu ul li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}




@media (max-width:1200px) {

    html {
        font-size: 50%;
    }

    header {
        padding: 12px 20px;
    }

    .nav a {
        padding-left: 10px;
    }



}


@media (max-width:991px) {

    .side_page {
        left: -120%;
    }

    #menu {
        display: block;
    }


    .side_page.toggle {
        left: 0%;

    }

    body {


        margin-left: 0;
    }

}


@media (max-width:768px) {


    html {
        font-size: 45%;
    }

    .side_page {
        font-size: 50%;
    }


    body {


        margin-left: 0;
    }

}


@media (max-width:400px) {



    html {
        font-size: 40%;
    }

    .side_page {
        width: 100vw;
    }


    body {


        margin-left: 0;
    }

    .card {
        height: 100vh;
        width: 100%;

        background-color: rgba(0, 0, 0, 0.4) !important;
    }


}