@font-face {
    font-family: NRT_Bolt;
    src: url(../font/NRT-Bd.ttf);
}

@font-face {
    font-family: NRT_Reg;
    src: url(../font/NRT-Reg.ttf);
}

* {
    font-family: NRT_Bolt;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;

}

html {

    direction: rtl;
    font-size: 62.5;
    overflow-x: hidden;
}
